:root {
  // border radius
  --radius-none: 0;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;

  // border weight
  --border-width-hairline: 1px;
  --border-width-ring: 2px;
  --focus-ring-offset: 2px;
}
